<robot name = "robot">
    <link name="Torso">
        <inertial>
            <origin xyz="0 0 1" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0 0 1" rpy="0 0 0"/>
            <geometry>
                <box size="1 1 1" />
            </geometry>
            <material name="Cyan">
                <color rgba="0 1.0 1.0 1.0"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0 0 1" rpy="0 0 0"/>
            <geometry>
                <box size="1 1 1" />
            </geometry>
        </collision>
    </link>
    <link name="Head">
        <inertial>
            <origin xyz="0 0 1.2" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0 0 1.2" rpy="0 0 0"/>
            <geometry>
                <sphere radius="0.3" />
            </geometry>
            <material name="Cyan">
                <color rgba="0 1.0 1.0 1.0"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0 0 1.2" rpy="0 0 0"/>
            <geometry>
                <sphere radius="0.3" />
            </geometry>
        </collision>
    </link>
    <link name="Upper_Body">
        <inertial>
            <origin xyz="0 0 1" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0 0 1" rpy="0 0 0"/>
            <geometry>
                <box size="0.5 0.8 0.8" />
            </geometry>
            <material name="Cyan">
                <color rgba="0 1.0 1.0 1.0"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0 0 1" rpy="0 0 0"/>
            <geometry>
                <box size="0.5 0.8 0.8" />
            </geometry>
        </collision>
    </link>
    <joint name="Torso_UpperBody" type="fixed">
       <parent link="Torso"/>
       <child  link="Upper_Body"/>
       <origin rpy="0 0 0" xyz="0 0 0.5" />
       <axis xyz="1 0 0"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <joint name="Head_joint" type="revolute">
       <parent link="Upper_Body"/>
       <child  link="Head"/>
       <origin rpy="0 0 0" xyz="0 0 0.4" />
       <axis xyz="0 0 1 "/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <link name="FrontLeftLeg">
        <inertial>
            <origin xyz="0.3 0.5 -0.3" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0.3 0.5 -0.3" rpy="0 0 0"/>
            <geometry>
                <box size="0.2 1 0.2" />
            </geometry>
            <material name="Cyan">
                <color rgba="0 1.0 1.0 1.0"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0.3 0.5 -0.3" rpy="0 0 0"/>
            <geometry>
                <box size="0.2 1 0.2" />
            </geometry>
        </collision>
    </link>
    <joint name="Torso_FrontLeftLeg" type="revolute">
       <parent link="Torso"/>
       <child  link="FrontLeftLeg"/>
       <origin rpy="0 0 0" xyz="0 0.5 1" />
       <axis xyz="1 0 0"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <joint name="FrontLeftLeg_FrontLowerLeftLeg" type="revolute">
       <parent link="FrontLeftLeg"/>
       <child  link="FrontLowerLeftLeg"/>
       <origin rpy="0 0 0" xyz="0 1 0" />
       <axis xyz="1 0 0"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <link name="FrontLowerLeftLeg">
        <inertial>
            <origin xyz="0.3 0 -0.8" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0.3 0 -0.8" rpy="0 0 0"/>
            <geometry>
                <box size="0.2 0.2 0.8" />
            </geometry>
            <material name="Cyan">
                <color rgba="0 1.0 1.0 1.0"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0.3 0 -0.8" rpy="0 0 0"/>
            <geometry>
                <box size="0.2 0.2 0.8" />
            </geometry>
        </collision>
    </link>
    <link name="FrontRightLeg">
        <inertial>
            <origin xyz="-0.3 0.5 -0.3" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="-0.3 0.5 -0.3" rpy="0 0 0"/>
            <geometry>
                <box size="0.2 1 0.2" />
            </geometry>
            <material name="Cyan">
                <color rgba="0 1.0 1.0 1.0"/>
            </material>
        </visual>
        <collision>
            <origin xyz="-0.3 0.5 -0.3" rpy="0 0 0"/>
            <geometry>
                <box size="0.2 1 0.2" />
            </geometry>
        </collision>
    </link>
    <joint name="Torso_FrontRightLeg" type="revolute">
       <parent link="Torso"/>
       <child  link="FrontRightLeg"/>
       <origin rpy="0 0 0" xyz="0 0.5 1" />
       <axis xyz="1 0 0"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <joint name="FrontRightLeg_FrontLowerRightLeg" type="revolute">
       <parent link="FrontRightLeg"/>
       <child  link="FrontLowerRightLeg"/>
       <origin rpy="0 0 0" xyz="0 1 0" />
       <axis xyz="1 0 0"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <link name="FrontLowerRightLeg">
        <inertial>
            <origin xyz="-0.3 0 -0.8" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="-0.3 0 -0.8" rpy="0 0 0"/>
            <geometry>
                <box size="0.2 0.2 0.8" />
            </geometry>
            <material name="Cyan">
                <color rgba="0 1.0 1.0 1.0"/>
            </material>
        </visual>
        <collision>
            <origin xyz="-0.3 0 -0.8" rpy="0 0 0"/>
            <geometry>
                <box size="0.2 0.2 0.8" />
            </geometry>
        </collision>
    </link>
    <link name="BackLeftLeg">
        <inertial>
            <origin xyz="0.3 -0.5 -0.3" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0.3 -0.5 -0.3" rpy="0 0 0"/>
            <geometry>
                <box size="0.2 1 0.2" />
            </geometry>
            <material name="Cyan">
                <color rgba="0 1.0 1.0 1.0"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0.3 -0.5 -0.3" rpy="0 0 0"/>
            <geometry>
                <box size="0.2 1 0.2" />
            </geometry>
        </collision>
    </link>
    <joint name="Torso_BackLeftLeg" type="revolute">
       <parent link="Torso"/>
       <child  link="BackLeftLeg"/>
       <origin rpy="0 0 0" xyz="0 -0.5 1" />
       <axis xyz="1 0 0"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <joint name="BackLeftLeg_BackLowerLeftLeg" type="revolute">
       <parent link="BackLeftLeg"/>
       <child  link="BackLowerLeftLeg"/>
       <origin rpy="0 0 0" xyz="0 -1 0" />
       <axis xyz="1 0 0"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <link name="BackLowerLeftLeg">
        <inertial>
            <origin xyz="0.3 0 -0.8" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0.3 0 -0.8" rpy="0 0 0"/>
            <geometry>
                <box size="0.2 0.2 0.8" />
            </geometry>
            <material name="Cyan">
                <color rgba="0 1.0 1.0 1.0"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0.3 0 -0.8" rpy="0 0 0"/>
            <geometry>
                <box size="0.2 0.2 0.8" />
            </geometry>
        </collision>
    </link>
    <link name="BackRightLeg">
        <inertial>
            <origin xyz="-0.3 -0.5 -0.3" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="-0.3 -0.5 -0.3" rpy="0 0 0"/>
            <geometry>
                <box size="0.2 1 0.2" />
            </geometry>
            <material name="Cyan">
                <color rgba="0 1.0 1.0 1.0"/>
            </material>
        </visual>
        <collision>
            <origin xyz="-0.3 -0.5 -0.3" rpy="0 0 0"/>
            <geometry>
                <box size="0.2 1 0.2" />
            </geometry>
        </collision>
    </link>
    <joint name="Torso_BackRightLeg" type="revolute">
       <parent link="Torso"/>
       <child  link="BackRightLeg"/>
       <origin rpy="0 0 0" xyz="0 -0.5 1" />
       <axis xyz="1 0 0"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <joint name="BackRightLeg_BackLowerRightLeg" type="revolute">
       <parent link="BackRightLeg"/>
       <child  link="BackLowerRightLeg"/>
       <origin rpy="0 0 0" xyz="0 -1 0" />
       <axis xyz="1 0 0"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <link name="BackLowerRightLeg">
        <inertial>
            <origin xyz="-0.3 0 -0.8" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="-0.3 0 -0.8" rpy="0 0 0"/>
            <geometry>
                <box size="0.2 0.2 0.8" />
            </geometry>
            <material name="Cyan">
                <color rgba="0 1.0 1.0 1.0"/>
            </material>
        </visual>
        <collision>
            <origin xyz="-0.3 0 -0.8" rpy="0 0 0"/>
            <geometry>
                <box size="0.2 0.2 0.8" />
            </geometry>
        </collision>
    </link>
    <link name="RightLeftLeg">
        <inertial>
            <origin xyz="0.5 0.3 -0.3" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0.5 0.3 -0.3" rpy="0 0 0"/>
            <geometry>
                <box size="1 0.2 0.2" />
            </geometry>
            <material name="Cyan">
                <color rgba="0 1.0 1.0 1.0"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0.5 0.3 -0.3" rpy="0 0 0"/>
            <geometry>
                <box size="1 0.2 0.2" />
            </geometry>
        </collision>
    </link>
    <joint name="Torso_RightLeftLeg" type="revolute">
       <parent link="Torso"/>
       <child  link="RightLeftLeg"/>
       <origin rpy="0 0 0" xyz="0.5 0 1" />
       <axis xyz="0 1 0"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <joint name="RightLeftLeg_RightLowerLeftLeg" type="revolute">
       <parent link="RightLeftLeg"/>
       <child  link="RightLowerLeftLeg"/>
       <origin rpy="0 0 0" xyz="1 0 0" />
       <axis xyz="0 1 0"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <link name="RightLowerLeftLeg">
        <inertial>
            <origin xyz="0 0.3 -0.8" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0 0.3 -0.8" rpy="0 0 0"/>
            <geometry>
                <box size="0.2 0.2 0.8" />
            </geometry>
            <material name="Cyan">
                <color rgba="0 1.0 1.0 1.0"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0 0.3 -0.8" rpy="0 0 0"/>
            <geometry>
                <box size="0.2 0.2 0.8" />
            </geometry>
        </collision>
    </link>
    <link name="RightRightLeg">
        <inertial>
            <origin xyz="0.5 -0.3 -0.3" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0.5 -0.3 -0.3" rpy="0 0 0"/>
            <geometry>
                <box size="1 0.2 0.2" />
            </geometry>
            <material name="Cyan">
                <color rgba="0 1.0 1.0 1.0"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0.5 -0.3 -0.3" rpy="0 0 0"/>
            <geometry>
                <box size="1 0.2 0.2" />
            </geometry>
        </collision>
    </link>
    <joint name="Torso_RightRightLeg" type="revolute">
       <parent link="Torso"/>
       <child  link="RightRightLeg"/>
       <origin rpy="0 0 0" xyz="0.5 0 1" />
       <axis xyz="0 1 0"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <link name="RightLowerRightLeg">
        <inertial>
            <origin xyz="0 -0.3 -0.8" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0 -0.3 -0.8" rpy="0 0 0"/>
            <geometry>
                <box size="0.2 0.2 0.8" />
            </geometry>
            <material name="Cyan">
                <color rgba="0 1.0 1.0 1.0"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0 -0.3 -0.8" rpy="0 0 0"/>
            <geometry>
                <box size="0.2 0.2 0.8" />
            </geometry>
        </collision>
    </link>
    <joint name="RightRightLeg_RightLowerRightLeg" type="revolute">
       <parent link="RightRightLeg"/>
       <child  link="RightLowerRightLeg"/>
       <origin rpy="0 0 0" xyz="1 0 0" />
       <axis xyz="0 1 0"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <link name="LeftRightLeg">
        <inertial>
            <origin xyz="-0.5 0.3 -0.3" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="-0.5 0.3 -0.3" rpy="0 0 0"/>
            <geometry>
                <box size="1 0.2 0.2" />
            </geometry>
            <material name="Cyan">
                <color rgba="0 1.0 1.0 1.0"/>
            </material>
        </visual>
        <collision>
            <origin xyz="-0.5 0.3 -0.3" rpy="0 0 0"/>
            <geometry>
                <box size="1 0.2 0.2" />
            </geometry>
        </collision>
    </link>
    <joint name="Torso_LeftRightLeg" type="revolute">
       <parent link="Torso"/>
       <child  link="LeftRightLeg"/>
       <origin rpy="0 0 0" xyz="-0.5 0 1" />
       <axis xyz="0 1 0"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <link name="LeftLowerRightLeg">
        <inertial>
            <origin xyz="0 0.3 -0.8" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0 0.3 -0.8" rpy="0 0 0"/>
            <geometry>
                <box size="0.2 0.2 0.8" />
            </geometry>
            <material name="Cyan">
                <color rgba="0 1.0 1.0 1.0"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0 0.3 -0.8" rpy="0 0 0"/>
            <geometry>
                <box size="0.2 0.2 0.8" />
            </geometry>
        </collision>
    </link>
    <joint name="LeftRightLeg_LeftLowerRightLeg" type="revolute">
       <parent link="LeftRightLeg"/>
       <child  link="LeftLowerRightLeg"/>
       <origin rpy="0 0 0" xyz="-1 0 0" />
       <axis xyz="0 1 0"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <link name="LeftLeftLeg">
        <inertial>
            <origin xyz="-0.5 -0.3 -0.3" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="-0.5 -0.3 -0.3" rpy="0 0 0"/>
            <geometry>
                <box size="1 0.2 0.2" />
            </geometry>
            <material name="Cyan">
                <color rgba="0 1.0 1.0 1.0"/>
            </material>
        </visual>
        <collision>
            <origin xyz="-0.5 -0.3 -0.3" rpy="0 0 0"/>
            <geometry>
                <box size="1 0.2 0.2" />
            </geometry>
        </collision>
    </link>
    <joint name="Torso_LeftLeftLeg" type="revolute">
       <parent link="Torso"/>
       <child  link="LeftLeftLeg"/>
       <origin rpy="0 0 0" xyz="-0.5 0 1" />
       <axis xyz="0 1 0"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <link name="LeftLowerLeftLeg">
        <inertial>
            <origin xyz="0 -0.3 -0.8" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0 -0.3 -0.8" rpy="0 0 0"/>
            <geometry>
                <box size="0.2 0.2 0.8" />
            </geometry>
            <material name="Cyan">
                <color rgba="0 1.0 1.0 1.0"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0 -0.3 -0.8" rpy="0 0 0"/>
            <geometry>
                <box size="0.2 0.2 0.8" />
            </geometry>
        </collision>
    </link>
    <joint name="LeftLeftLeg_LeftLowerLeftLeg" type="revolute">
       <parent link="LeftLeftLeg"/>
       <child  link="LeftLowerLeftLeg"/>
       <origin rpy="0 0 0" xyz="-1 0 0" />
       <axis xyz="0 1 0"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
</robot>