<robot name = "robot">
    <link name="Cube0">
        <inertial>
            <origin xyz="0.0 0.0 3" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0.0 0.0 3" rpy="0 0 0"/>
            <geometry>
                <box size="1.1156154088791876 0.44158364791126736 0.8521302307804506" />
            </geometry>
            <material name="Cyan">
                <color rgba=  "0 1.0 1.0 1.0"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0.0 0.0 3" rpy="0 0 0"/>
            <geometry>
                <box size="1.1156154088791876 0.44158364791126736 0.8521302307804506" />
            </geometry>
        </collision>
    </link>
    <joint name="Cube0_Cube1" type="revolute">
       <parent link="Cube0"/>
       <child  link="Cube1"/>
       <origin rpy="0 0 0" xyz="0.0 0.22079182395563368 3" />
       <axis xyz="0 1 0"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <link name="Cube1">
        <inertial>
            <origin xyz="0.0 0.13697618106854237 0.0" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0.0 0.13697618106854237 0.0" rpy="0 0 0"/>
            <geometry>
                <box size="0.6283863497425998 0.27395236213708474 0.27277814643963005" />
            </geometry>
            <material name="Cyan">
                <color rgba=  "0 1.0 1.0 1.0"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0.0 0.13697618106854237 0.0" rpy="0 0 0"/>
            <geometry>
                <box size="0.6283863497425998 0.27395236213708474 0.27277814643963005" />
            </geometry>
        </collision>
    </link>
    <joint name="Cube0_Cube2" type="revolute">
       <parent link="Cube0"/>
       <child  link="Cube2"/>
       <origin rpy="0 0 0" xyz="0.5578077044395938 0.0 3" />
       <axis xyz="0 1 0"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <link name="Cube2">
        <inertial>
            <origin xyz="0.6759713424175081 0.0 0.0" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0.6759713424175081 0.0 0.0" rpy="0 0 0"/>
            <geometry>
                <box size="1.3519426848350162 0.5283881073641851 0.33570147080689805" />
            </geometry>
            <material name="Cyan">
                <color rgba=  "0 1.0 1.0 1.0"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0.6759713424175081 0.0 0.0" rpy="0 0 0"/>
            <geometry>
                <box size="1.3519426848350162 0.5283881073641851 0.33570147080689805" />
            </geometry>
        </collision>
    </link>
    <joint name="Cube2_Cube3" type="revolute">
       <parent link="Cube2"/>
       <child  link="Cube3"/>
       <origin rpy="0 0 0" xyz="0.6759713424175081 -0.26419405368209253 0.0" />
       <axis xyz="0 1 0"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <link name="Cube3">
        <inertial>
            <origin xyz="0.0 -0.2269579629916765 0.0" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0.0 -0.2269579629916765 0.0" rpy="0 0 0"/>
            <geometry>
                <box size="0.942555383991345 0.453915925983353 0.3333609673338046" />
            </geometry>
            <material name="Cyan">
                <color rgba=  "0 1.0 1.0 1.0"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0.0 -0.2269579629916765 0.0" rpy="0 0 0"/>
            <geometry>
                <box size="0.942555383991345 0.453915925983353 0.3333609673338046" />
            </geometry>
        </collision>
    </link>
    <joint name="Cube2_Cube4" type="revolute">
       <parent link="Cube2"/>
       <child  link="Cube4"/>
       <origin rpy="0 0 0" xyz="1.3519426848350162 0.0 0.0" />
       <axis xyz="0 1 0"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <link name="Cube4">
        <inertial>
            <origin xyz="0.6973692506838621 0.0 0.0" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0.6973692506838621 0.0 0.0" rpy="0 0 0"/>
            <geometry>
                <box size="1.3947385013677243 0.7135954413917958 1.0213641150291022" />
            </geometry>
            <material name="Cyan">
                <color rgba=  "0 1.0 1.0 1.0"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0.6973692506838621 0.0 0.0" rpy="0 0 0"/>
            <geometry>
                <box size="1.3947385013677243 0.7135954413917958 1.0213641150291022" />
            </geometry>
        </collision>
    </link>
    <joint name="Cube4_Cube5" type="revolute">
       <parent link="Cube4"/>
       <child  link="Cube5"/>
       <origin rpy="0 0 0" xyz="0.6973692506838621 -0.3567977206958979 0.0" />
       <axis xyz="0 1 0"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <link name="Cube5">
        <inertial>
            <origin xyz="0.0 -0.13420620108637035 0.0" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0.0 -0.13420620108637035 0.0" rpy="0 0 0"/>
            <geometry>
                <box size="0.23127813114993448 0.2684124021727407 0.5462537357551016" />
            </geometry>
            <material name="Cyan">
                <color rgba=  "0 1.0 1.0 1.0"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0.0 -0.13420620108637035 0.0" rpy="0 0 0"/>
            <geometry>
                <box size="0.23127813114993448 0.2684124021727407 0.5462537357551016" />
            </geometry>
        </collision>
    </link>
    <joint name="Cube4_Cube6" type="revolute">
       <parent link="Cube4"/>
       <child  link="Cube6"/>
       <origin rpy="0 0 0" xyz="-0.6973692506838621 0.3567977206958979 0.0" />
       <axis xyz="0 1 0"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <link name="Cube6">
        <inertial>
            <origin xyz="0.0 0.13312552871070382 0.0" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0.0 0.13312552871070382 0.0" rpy="0 0 0"/>
            <geometry>
                <box size="0.21355377169296394 0.26625105742140764 0.4962701784783048" />
            </geometry>
            <material name="Cyan">
                <color rgba=  "0 1.0 1.0 1.0"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0.0 0.13312552871070382 0.0" rpy="0 0 0"/>
            <geometry>
                <box size="0.21355377169296394 0.26625105742140764 0.4962701784783048" />
            </geometry>
        </collision>
    </link>
    <joint name="Cube6_Cube7" type="revolute">
       <parent link="Cube6"/>
       <child  link="Cube7"/>
       <origin rpy="0 0 0" xyz="0.0 0.13312552871070382 -0.2481350892391524" />
       <axis xyz="0 1 0"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <link name="Cube7">
        <inertial>
            <origin xyz="0.0 0.0 -0.15898799921766543" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0.0 0.0 -0.15898799921766543" rpy="0 0 0"/>
            <geometry>
                <box size="0.21035495651883218 0.2513104846953593 0.31797599843533086" />
            </geometry>
            <material name="Cyan">
                <color rgba=  "0 1.0 1.0 1.0"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0.0 0.0 -0.15898799921766543" rpy="0 0 0"/>
            <geometry>
                <box size="0.21035495651883218 0.2513104846953593 0.31797599843533086" />
            </geometry>
        </collision>
    </link>
    <joint name="Cube4_Cube8" type="revolute">
       <parent link="Cube4"/>
       <child  link="Cube8"/>
       <origin rpy="0 0 0" xyz="1.3947385013677243 0.0 0.0" />
       <axis xyz="0 1 0"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <link name="Cube8">
        <inertial>
            <origin xyz="0.31721530518648144 0.0 0.0" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0.31721530518648144 0.0 0.0" rpy="0 0 0"/>
            <geometry>
                <box size="0.6344306103729629 0.278645336356585 0.594297831030865" />
            </geometry>
            <material name="Cyan">
                <color rgba=  "0 1.0 1.0 1.0"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0.31721530518648144 0.0 0.0" rpy="0 0 0"/>
            <geometry>
                <box size="0.6344306103729629 0.278645336356585 0.594297831030865" />
            </geometry>
        </collision>
    </link>
</robot>